* {
    box-sizing: border-box;
}
@font-face {
    font-family: gggg;
    src: url("../fonts/DangerNightPersonalUse-owdl4.otf");
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    /* background-color: #C5D5EA; */
    font-size: 2rem;
    background-image: url("../images/ww.jpg");
    background-size: cover;
}
h1 {
    text-align: center;
    font-family: gggg;
    color: white;
    transition-property: color, transform, text-shadow;
    transition: 1s ease-in-out;
    text-shadow: 0 0 20px #2EC4B6;
}
h1:hover {
    color: #00F7FF;
    text-shadow: 0 0 10px white;
    transform: scale(1.5);
}
@media only screen and (max-width: 900px) {
    body {
        background-image: url("../images/g.jpg");
    }
    h1 {
        font-size: 1.3rem;
    }
}